/*Home Navbar*/

@font-face {
  font-family: "San Francisco"
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

#hm-nb {
  background-color: #3C5B96;
  height: 80px;
  width: auto;
  border-bottom: 1px solid black;
  color: #FFF;
  font-family: "San Francisco", -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0 auto;
}

.fl {
  width: 60%;
  height: 100%;
  display: inline-block;
  float: left;
}

.fl a {
  text-decoration: none;
  color: #FFF;
  font-size: 33px;
  position: relative;
  top: 35%;
}

.signup {
  width: 40%;
  height: 100%;
  display: inline-block;
  float: right;
}

