/*Home Navbar*/

@font-face {
  font-family: "San Francisco"
  src: local("assets/sanfranciscodisplay-regular-webfont.woff");
}

.hm-nb-container {
  background-color: #3C5B96;
  height: 83px;
  border-bottom: 1px solid black;
}

#hm-nb {
  width: 980px;
  height: 100%;
  margin: 0 auto;
  color: #FFF;
  font-family: "San Francisco", -apple-system, BlinkMacSystemFont, sans-serif;
}

.fl {
  width: 60%;
  height: 100%;
  display: inline-block;
  float: left;
  padding-top: 13px;
}

.fl img {
  width: 170px;
  padding-top: 16px;
}

.signin {
  width: 40%;
  height: 100%;
  display: inline-block;
  float: right;
  padding-top: 13px;
}

.signin table {
  font-size: 12px;
}

.signin td {
  padding: 5px 0 0 14px;
}

#email {
  width: 148px;
  height: 20px;
  border: 1px solid black;
  background-color: #FAFFB9;
}

#password {
  width: 148px;
  height: 20px;
  border: 1px solid black;
  background-color: #FAFFB9;
}

.signin a {
  text-decoration: none;
  color: #9BB3D9;
  padding-top: 3px;
}

.signin a:hover {
  text-decoration: underline;
}

#log-in {
  background-color: #4267b2;
  border: 1px solid #29487d;
  color: #FFF;
  height: 24px;
  width: 47px;
  border-radius: 2px;
}

#log-in:hover {
  background-color: #3C5B96;
  cursor: pointer;
}

/*Main Content*/

h1,
h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #333;
}

/*Left Side*/

.main-content-container {
  height: 660px;
  background-color: #EDF0F5;
}

.main-content {
  width: 980px;
  margin: 0 auto;
  padding-top: 15px;
}

.lft-sd {
  width: 60%;
  display: inline-block;
}

.lft-sd img {
  display: inline-block;
  float: left;
  width: 50px;
}

.statements {
  display: block;
  height: 60px;
  padding: 0 0 15px 2px;
}

.lft-sd p {
  font-family: "San Francisco", -apple-system, BlinkMacSystemFont, sans-serif;
  padding-left: 15px;
  color: #666666;
  font-size: 15px;
  letter-spacing: -.01em;
}

.lft-sd h1 {
  font-size: 28px;
  width: 425px;
  height: 60px;
  padding: 46px 0 55px;
  line-height: 1.25em;
}

h2,
.main-content p {
  display: inline-block;
  padding-top: 15px;
}

h2 {
  padding-left: 25px;
}

/*Right Side*/

.rght-sd {
  width: 40%;
  float: right;
}














